<meta charset="UTF-8">
<title>Zoo Application</title>

<link rel="stylesheet" href="/release/bootstrap/css/bootstrap.min.css">
<script src="/release/jquery/jquery.js"></script>
<script src="/release/bootstrap/js/bootstrap.js"></script>
<style>
	body	{ padding-top: 50px; }
</style>