<!DOCTYPE html>
<html>
<head>
	<title>Zoo Application</title>
</head>
<body ng-app="app" ng-controller="AnimalController">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-resource.js"></script>
	<script src="/release/ui-grid.min.js"></script>
	<link rel="styleSheet" href="release/ui-grid.min.css"/>
	<script src="/scripts/animals.js"></script>
	<div ng-controller="AnimalController">
		<h1>Animals List:</h1>
		<div ui-grid="gridOptions"></div>
	</div>
</body>
</html>